
/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
	z-index:999;
	
}
  

.popup-inner7{max-width:360px;width:100%;padding:0px;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);border-radius: 16px;border-top:0px solid #E13D32;background:none;}
.popup-inner7  .iti__country-list {width: 320px;overflow-x: hidden;}


.popup-inner8{max-width:340px;width:100%;padding:0px;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);border-radius: 16px;border-top:0px solid #E13D32;background:none;}
.popup-inner8  .iti__country-list {width: 320px;overflow-x: hidden;}


 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:0px;
    display:inline-block;
    position:absolute;
    top:0;outline:none;border: 0px;
    right:0;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:#1585D2;
    font-size:20px;
    text-align:center;
	cursor: pointer;
    line-height:100%;
    color:#fff;
	z-index:999999;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:c51a13;
    text-decoration:none;
	 color:#fff;
}
@media screen and (max-width:880px) {
.form-group1{width:90%;float: left;height: 50px; margin: 6px 10px;}
.popup-inner {padding:0px;}.popup-inner4 h2{font-size:18px;}
.popup-close{top:5px; right:10px;}

.popup-inner7{max-width:95%;width:95%;}

}