.owl-nav button {
  position: absolute;
  top: 50%;
  background-color:#f58634;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;

}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height:8px;
  border-radius:10px;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color:#f0a624;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0) !important;
}
.owl-nav span{
    font-size:0px;    
    position: relative;
    top: -5px;
    color:#FF6800;
}

.owl-dots button.owl-dot{width:10px; height:10px; background:rgba(255, 255, 255, 0.3);}
.owl-dots button.owl-dot.active {width:10px; height:10px; background:rgba(255, 255, 255);}
  
 


#training-sessions .owl-nav{position:absolute; left:10px; bottom:75px;}
#training-sessions .owl-carousel, .owl-carousel .owl-item{position:initial;}
#training-sessions .owl-dots {text-align: center;position: absolute;justify-content: center;display: flex;left: 0px;right: 0px;bottom:14px; padding-top:0px; display:none;}
#training-sessions  .owl-nav button.owl-prev {left:440px;}
#training-sessions  .owl-nav button.owl-next {left:480px;}
#training-sessions .owl-nav span{background:#ffffff;  border:2px solid #BA1717; color:#fff; width:42px;height:42px;line-height:38px;display: block;	position: relative;}
#training-sessions .owl-nav button.owl-prev span::after {background: url(prev-arrow-hover.png) no-repeat;content: "";width:40px;height:40px; background-size:20px;display: inline-block; position: absolute; background-position: 42% 46%; left:1px; top:1px;}
#training-sessions .owl-nav button.owl-next span::after{background: url(next-arrow-hover.png) no-repeat;content: "";width:40px;height:40px; background-size:20px;display: inline-block; position: absolute; background-position:25% 46%; left:5px; top:1px;}
#training-sessions .owl-prev:hover span{background:#BA1717; border:2px solid #BA1717;}
#training-sessions .owl-next:hover span{background:#BA1717; border:2px solid #BA1717;}
#training-sessions .owl-nav button.owl-prev:hover span::after{filter: brightness(0) invert(1);}
#training-sessions .owl-nav button.owl-next:hover span::after{filter: brightness(0) invert(1);}


#lalit-qualit .owl-nav{position:absolute; left:10px; bottom:75px;}
#lalit-qualit .owl-carousel, .owl-carousel .owl-item{position:initial;}
#lalit-qualit .owl-dots {text-align: center;position: absolute;justify-content: center;display: flex;left: 0px;right: 0px;bottom:14px; padding-top:0px; display:none;}
#lalit-qualit  .owl-nav button.owl-prev {left:0px;}
#lalit-qualit  .owl-nav button.owl-next {left:40px;}
#lalit-qualit .owl-nav span{background:none;  border:2px solid #ffffff; color:#fff; width:42px;height:42px;line-height:38px;display: block;	position: relative;}
#lalit-qualit .owl-nav button.owl-prev span::after {background: url(prev-arrow.png) no-repeat;content: "";width:40px;height:40px; background-size:20px;display: inline-block; position: absolute; background-position: 42% 46%; left:1px; top:1px;}
#lalit-qualit .owl-nav button.owl-next span::after{background: url(next-arrow.png) no-repeat;content: "";width:40px;height:40px; background-size:20px;display: inline-block; position: absolute; background-position:25% 46%; left:5px; top:1px;}
#lalit-qualit .owl-prev:hover span{background:none; border:2px solid #ffffff;}
#lalit-qualit .owl-next:hover span{background:none; border:2px solid #ffffff;}
#lalit-qualit .owl-nav button.owl-prev:hover span::after{filter: brightness(0) invert(1);}
#lalit-qualit .owl-nav button.owl-next:hover span::after{filter: brightness(0) invert(1);}


#lalit-news .owl-nav{position:absolute; right:10px; bottom:75px;}
#lalit-news .owl-carousel, .owl-carousel .owl-item{position:initial;}
#lalit-news .owl-dots {text-align: center;position: absolute;justify-content: center;display: flex;left: 0px;right: 0px;bottom:14px; padding-top:0px; display:none;}
#lalit-news  .owl-nav button.owl-prev {right:60px;left: initial;}
#lalit-news  .owl-nav button.owl-next {right:20px;left: initial;}
#lalit-news  .owl-nav button{top:initial; bottom:-160px;}
#lalit-news .owl-nav span{background:#ffffff;  border:2px solid #C7A15B;; color:#fff; width:42px;height:42px;line-height:38px;display: block;	position: relative;}
#lalit-news .owl-nav button.owl-prev span::after {background: url(g-prev-arrow.png) no-repeat;content: "";width:40px;height:40px; background-size:20px;display: inline-block; position: absolute; background-position: 42% 46%; left:1px; top:1px;}
#lalit-news .owl-nav button.owl-next span::after{background: url(g-next-arrow.png) no-repeat;content: "";width:40px;height:40px; background-size:20px;display: inline-block; position: absolute; background-position:25% 46%; left:5px; top:1px;}
#lalit-news .owl-prev:hover span{background:#C7A15B; border:2px solid #C7A15B;}
#lalit-news .owl-next:hover span{background:#C7A15B; border:2px solid #C7A15B;}
#lalit-news .owl-nav button.owl-prev:hover span::after{filter: brightness(0) invert(1);}
#lalit-news .owl-nav button.owl-next:hover span::after{filter: brightness(0) invert(1);}

#governing-slider .owl-nav{position:absolute; right:10px; bottom:75px;}
#governing-slider .owl-carousel, .owl-carousel .owl-item{position:initial;}
#governing-slider .owl-dots {text-align: center;position: absolute;justify-content: center;display: flex;left: 0px;right: 0px;bottom:14px; padding-top:0px; display:none;}
#governing-slider  .owl-nav button.owl-prev {right:110px;left: initial;}
#governing-slider  .owl-nav button.owl-next {right:60px;left: initial;}
#governing-slider  .owl-nav button{top:initial; bottom:-180px;}
#governing-slider .owl-nav span{background:none;  border:2px solid #ffffff; color:#fff; width:42px;height:42px;line-height:38px;display: block;	position: relative;}
#governing-slider .owl-nav button.owl-prev span::after {background: url(prev-arrow.png) no-repeat;content: "";width:40px;height:40px; background-size:20px;display: inline-block; position: absolute; background-position: 42% 46%; left:1px; top:1px;}
#governing-slider .owl-nav button.owl-next span::after{background: url(next-arrow.png) no-repeat;content: "";width:40px;height:40px; background-size:20px;display: inline-block; position: absolute; background-position:25% 46%; left:5px; top:1px;}
#governing-slider .owl-prev:hover span{background:none; border:2px solid #ffffff;}
#governing-slider .owl-next:hover span{background:none; border:2px solid #ffffff;}
#governing-slider .owl-nav button.owl-prev:hover span::after{filter: brightness(0) invert(1);}
#governing-slider .owl-nav button.owl-next:hover span::after{filter: brightness(0) invert(1);}

@media screen and (max-width:880px) {

#training-sessions  .owl-nav button.owl-prev {display:none;}
#training-sessions  .owl-nav button.owl-next {display:none;}
#training-sessions .owl-dots {display:block; bottom:-40px;}

 

}